@charset "utf-8";

/* 인트로 사이트 메인 CSS - main.css */
@import url(core.css);
@import url(reset.css);

/* 스크롤 등장 클래스 */
.js-reveal {
    opacity: 1;
    transition: opacity 1.5s ease-in, margin-top 1.5s ease-out;
}

.js-reveal--hidden {
    opacity: 0;
    margin-top: 200px;
}



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* 보이는화면기준 채우기 */
    /* body하위 요소의 높이값 %의 기준이됨! */
    overflow: hidden;
    /* 스크롤바 없애기/스크롤안되기 */
}

/* 공통셋팅 */
a {
    text-decoration: none;
    color: #000;
    text-shadow: 0 0 2px #777;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul::after {
    /* float 해제 */
    content: '';
    display: block;
    clear: both;
}

li {
    float: left;
    /* 옆으로 흐르게 */
}

img {
    border: none;
    /* 이미지 링크시 테두리없앰 */
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* 공통 class */

/* 페이지 공통 class */
.page {
    /* 한페이지 보이는 화면 채우기 */
    width: 100%;
    height: 100%;
    /* 
        width: 100vw;
        height: 100vh;
        보이는 화면 기준의 뷰포트단위를 쓰면
        body의 height가 100%가 필요없다!
        왜냐면 보이는 화면을 기준하니까!
        단, vw단위는 스크롤바 트랙까지 포함한
        화면 전체를 기준하므로 데스크탑에서는 
        100%를 사용하는게 좋다!
        (이유는 가로스크롤바가 생기게 되므로?)
     */
}

/* IR(배경이미지 설명 숨기기) class */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 중앙 속박스 */
.ibx {

    width: 1920px;
    max-width: 100%;
    /* 1920px보다 작을땐 100%를 유지한다!! */
    margin: 0 auto;
    /* 마영오 - 중앙정렬 */
}

/* 1. 상단영역 */
#top {
    position: fixed;
    /* 상단고정: 보이는 화면기준 */
    width: 100%;
    z-index: 999;
    /* 맨위! */
}

/* 상단영역 속박스 */
.top {
    position: relative;
    /* 부모자격 */
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

/* 1-1.로고 */
#logo {
    width: 190px;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#logo img {
    width: 100%;
}

/* 1-2. gnb메뉴 */
.gnb {
    width: 100%;
}

.gnb ul {
    display: flex;
    justify-content: space-evenly;
}


.gnb a {
    font-family: Verdana;
    font-size: 20px;
    transition: transform .3s;
}

/* 메뉴에 마우스 오버시 + li에 on클래스 있는경우 */
.gnb a:hover,
.gnb li.on a {
    display: inline-block;
    /* 트랜스폼적용위해 */
    transform: scale(1.1);
    /* 인라인은 scale이 적용이 안됨! */
    color: #fccc00;
}

/* 모바일용 햄버거 버튼 */
#ham {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleX(1.4);
    right: 5%;
    background-color: transparent;
    border: none;
    font-size: 8vw;
    color: rgb(31, 31, 31);
    display: none;
    /* DT에서 안보임 */
}

/* 가상요소로 햄버거모양 글자넣기
(왜?가상요소야? css에서 x버튼으로 변경하려고!) */
#ham::before {
    content: '≡';
}

/* .on먹은 햄버거버튼 */
#ham.on {
    color: #fff;
    transform: translateY(-50%) scaleX(1);
    z-index: 999999;
}

/* 닫기버튼 모양글자로 변경 */
#ham.on::before {
    content: '×';
}


/* 모바일용 GNB 메뉴 */
.mgnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999;
    display: none;
    /* 햄버거버튼 클릭전엔 안보임 */
}

.mgnb ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.mgnb li {
    width: 100%;
    text-align: center;
}

.mgnb a {
    color: #fff;
    font-family: ng;
    font-size: 5vh;
    line-height: 2;
}




/* 2. 페이지영역 */
/* 개별 페이지 셋팅 */
#pg1 {
    background: url(../images/grunge-concrete-wall.jpg) no-repeat top/cover;
}

.wr1 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    box-sizing: border-box;
}

.wr1 .lp {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/

    animation: lp 5s ease-in-out infinite;
}

@keyframes lp {
    from {
        transform: translate(-50%, -50%) rotate(0);
        transform-origin: center center;
    }

    to {
        transform: translate(-50%, -50%) rotate(3600deg);
        /* transform-origin: center; */
    }
}

.wr1 .lp2 {
    position: absolute;
    top: 46%;
    left: 55%;
    width: 41%;
    transform: translate(-50%, -50%);
}


#pg2 {
    position: relative;

}

.me {
    position: relative;
    width: 28%;
    top: 25px;
    left: 115px;
}

.me img {
    width: 100%;
}

.right {
    position: absolute;
    top: 25%;
    right: 21%;
}

/* 타이틀박스*/
.txts {
    font: bold 3.2rem "ns";
    letter-spacing: 2px;
    color: #90837f;
}

/*패딩으로 띄어쓰기*/
.pd {
    padding-right: 10px;
}

/*float해제로 줄바꿈*/
.ent {
    clear: left;
}

/*글자초기셋팅*/
.txts>li {
    position: relative;
    top: -100px;
    left: 200px;
    opacity: 0;
}

.about {
    position: absolute;
    top: 53%;
    width: 43%;
    right: 10%;
    background-color: #e4d9d9;
    border-radius: 50%;
    font: normal 1.3rem "ns";
    color: #504126;
    letter-spacing: 1.8px;
}

.ab {
    font: bold 3rem "ks";
    color: #504126;
    padding-bottom: 13%;
    padding-right: 18%;
    margin-left: -7%;
}
.ed{
    padding-bottom: 6%;
}
.lic{
    padding-bottom: 4%;
}
.pl {
    padding-left: 8%;
    padding-top: 2%;
}


#pg3 {
    position: relative;
    background: url(../images/background-2547101_1920.jpg) no-repeat top/cover;
}

.tit {
    position: relative;
    padding-top: 11vh;
    font-size: 3.2vw;
    text-align: center;
    font-family: Verdana;
    color: #2d2d2d;
    font-weight: normal;
    letter-spacing: -2px;
}

.tit::before {
    content: '';
    position: absolute;
    width: 230px;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%) skew(20deg);
    height: 28px;
    background-color: rgba(255, 255, 255, .4);
}
.cont{
    padding-top: 4vh;
}
.skbox{
    width: 35%;
    margin: 0 auto;
    padding-bottom: 1.5vh;
}
.skbox p{
    font-family: "gw";
    font-weight: bold;
    font-size: .9vw;
}
.sktit{
    font-family: "ng";
    font-size: 1.5vw;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    padding-bottom: .6vh;
}
.bar{
    width: 100%;
    height: 4vh;
    background-color: #fff;
    margin-bottom: 2vh;
}
.bar::after{
    content: '';
    display: block;
    background-color: orange;
    height: 4vh;
}
.hbar::after{
    width: 90%;
}
.cbar::after{
    width: 90%;
}
.jbar::after{
    width: 75%;
}
.pbar::after{
    width: 90%;
}
.ibar::after{
    width: 90%;
}

#pg4 {
    position: relative;
    background-color: rgba(5, 5, 5, 0.027)
}

#pg4 .tit {
    color: #000;
}

.swiper {
    width: 100%;
    height: 81%;
}

.swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 769px) {
    .swiper-slide:first-child {
        transition: transform 100ms;
    }

    .swiper-slide:first-child img {
        transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
        transform: translateX(50%);
        z-index: 2;
    }

    .swiper-slide img {
        box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
        transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(55%);
        z-index: 1;
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
        transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(-55%);
    }
}

.swiper-slide a {
    position: relative;
}


.ptit {
    font-size: 30px;
    font-family: "ks";
    letter-spacing: 1px;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.521);
    width: 252px;
    height: 157px;
    color: #fff;
    font-size: 17px;
    font-family: "ns";
    letter-spacing: 2px;
    line-height: 3;
    text-align: center;
}

.desc {
    width: 100%;
    font-size: 14px;
    font-family: "gw";
    background-color: rgba(255, 255, 255, 0.705);
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    box-sizing: border-box;
}


#Contact {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #dac3c254;
    overflow: hidden;
}

#half4 {
    position: absolute;
    top: 50%;
    left: -200px;
    height: 70%;
    width: 130%;
    transform: rotate(5deg)
        /*translateX(-50%)*/
    ;
    background-color: #b99ea18f;
}

#Contact>.white>aside {
    position: absolute;
    width: 44%;
    height: 77%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    border: 2px dashed #555;
    box-shadow: 15px 15px 0px -3px #66666680;
}

#Contact>.white>aside h2 {
    position: relative;
    margin-top: -60px;
}

#Contact>.white>aside h2 span {
    position: relative;
    top: 15px;
    margin-left: 0px;
    font-size: 70px;
    font-weight: bold;
}

#con {
    position: relative;
    top: 3%;
    width: 100%;
    height: 80%;
}

#con>li {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

#con>li>div {
    position: relative;
    top: 35%;
}

#con>li>div>img {
    position: relative;
    width: 20%;
    left: 0;
}

#con>li>h3 {
    position: relative;
    top: 42%;
    font: bold 1.3em "gw";
    color: #333;
}

.ctxt {
    padding-top: 80px;
    letter-spacing: 1px;
    line-height: 1.7;
    font-weight: bold;
    font-family: "ng";
    font-size: 22px;
}


/* 위로가기 버튼 */
/* .tbtn {
    position: fixed;
    bottom: 0;
    right: 75px;
    width: 48px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 4px 4px 0 0;
    둥근모서리 : 왼위 오른위 오른아래 왼아래(시계방향)
    background-color: #333;
    color: #fff;
    font-size: 12px;
    opacity: 0.9;
    z-index: 999;
    display: none;
    처음에 안보임
} */


/* 모바일 미디어쿼리 */
@media only screen and (max-width:769px) {

    /* 상단영역 속박스 */
    .top {
        height: 80px;
    }

    /* 1-1.로고 */
    #logo {
        margin: 0 auto;
        width: 170px;
    }

    /* 1-2. gnb메뉴 */
    .gnb {
        top: 68px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 330px;
        display: none;
    }

    /* 4. 햄버거 버튼 보이기 */
    #ham {
        display: block;
    }

    .tit {
        padding-top: 13vh;
        font-size: 4.2vw;
        font-weight: bold;
    }

    .tit::before {
        width: 81px;
        bottom: -7px;
        height: 16px;
    }

    .txts {
        font: bold 1.2rem "ns";
        color: #2d2d2d;
    }

    .right {
        top: 22%;
        right: 47%;
    }

    .about {
        top: 58%;
        width: 100%;
        right: 0;
        font: normal 0.6rem "ns";
        text-align: center;
        letter-spacing: 1px;
        background-color: #e4d9d9bb;
    }

    .me {
        width: 194px;
        top: 23px;
        left: 0;
        margin: 0 auto;
    }

    .pl {
        padding-top: 0;
        padding-left: 0;
        letter-spacing: 1px;
    }

    .ab {
        font: bold 1rem "ks";
        padding-bottom: 0;
        padding-right: 0;
        margin-left: 0;
        padding-top: 0;
    }

    .about li {
        float: none;
    }

    .wr1 .lp {
        width: 68%;
    }

    .wr1 .lp2 {
        left: 60%;
        width: 73%;
    }
    .skbox{
        width: 75%;
        padding-bottom: 0;
    }
    .sktit{
        font-size: 3.5vw;
    }
    .skbox p{
        font-size: 1.5vw;
    }
    .bar{
        height: 3vh;
    }
    .bar::after{
        height: 3vh;
    }

    .swiper-horizontal>.swiper-scrollbar {
        display: none;
    }

    #Contact>.white>aside h2 span {
        font-size: 29px;
    }

    .ctxt {
        font-size: 13px;
    }

    #con {
        height: 22%;
    }

    #con>li {
        width: 50%;
    }

    #con>li>h3 {
        font: bold .8em "gw";
    }

    #con>li>div>img {
        width: 13%;
    }

    #Contact>.white>aside {
        width: 264px;
        height: 61%;
        top: 23%;
    }
}

/* 모바일 미디어쿼리 */



/* .tit {opacity: 0;top: 10%; transition: all .8s;}
body._curr_page1 .tit {opacity: 1;top: 0;}
.me {opacity: 0;top: 10%; transition: all .8s;}
body._curr_page1 .me {opacity: 1;top: 0;}
.about {opacity: 0;top: 70%; transition: all .8s;}
body._curr_page1 .about {opacity: 1;top: 50%;} */